body {
  overflow: hidden;
}

/* RIGHT FRAME */

.portrait-frame {
  height: 700px;
  position: fixed;
  right: 300px;
  top: 185px;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.main-name {
  position: fixed;
  right: 320px;
  top: 150px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  font-weight: 900;
  font-size: 84px;
  line-height: 70px;
  letter-spacing: 2px;

  /* make text not selectable */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.main-name .name-last {
  color: #ffffff;
}

.image-circle {
  background-color: #ffffff;
  overflow: hidden;
  position: fixed;
  top: 150px;
  right: -30px;
  width: 614px;
  height: 614px;
  z-index: 1;
}

/* L-SIDE INTRO */

.intro-container {
  position: absolute;
  left: 200px;
  top: 180px;
}

.about-header {
  color: var(--grey-color);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 32px;
}

.intro-main {
  color: #ffffff;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 2.6px;
  line-height: 32px;
  width: 500px;
}

.first-circle-about {
  position: absolute;
  top: -50px;
  left: 150px;
  width: 500px;
  height: 500px;
}

.view-resume-container {
  width: 260px;
  margin-top: 40px;
}

.view-resume-container img {
  display: inline-block;
  height: 22px;
  margin-right: 36px;
  transition: all 0.3s ease;
}

.view-resume-text {
  display: inline-block;
  color: var(--main-orange-color);
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1.83px;
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.view-resume-container:hover .view-resume-text{
  transform: translateX(10px) translateY(-3px);
}

.view-resume-container:hover img {
  transform: translateX(24px);
}


/* CONNECT W/ ME */

.bottom-circle-container {
  position: absolute;
  width: 865px;
  height: 350px;
  top: 600px;
  left: -100px;
}

.connect-text {
  position: absolute;
  bottom: var(--outer-margin);
  left: 200px;
  color: var(--grey-color);
  font-weight: 800;
  font-size: 56px;
  letter-spacing: 3px;
}

.second-circle-about {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  width: 865px;
  height: 865px;
}

/* SOCIAL MEDIA ICONS */

.sc-icons-container {
  position: absolute;
  bottom: 80px;
  left: 555px;
}

.icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: var(--background-color);
  background-color: #ffffff;
  font-size: 28px;
  text-align: center;
  margin-right: 12px;
  transition: all 0.3s ease;
}

.icon:hover {
  color: var(--main-orange-color);
}