.photography-header {
  margin: 50px var(--outer-margin);
  color: #ffffff;
  font-size: 52px;
  font-weight: 800;
  letter-spacing: 5px;
}

.first-circle-ph {
  position: absolute;
  top: 550px;
  right: 50px;
  width: 500px;
  height: 500px;
}

.sec-circle-ph {
  position: absolute;
  top: 1200px;
  left: -100px;
  width: 800px;
  height: 800px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1356px;
  margin-bottom: 100px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.column a {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 98%;
  transform: translateY(4px);
  transition: all 0.3s ease;
}

.column img {
  width: 100%;
}

.column a.tall {
  transform: translateY(6px);
}

.white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.card-number {
  font-family: Stolzl-Display, sans-serif;
  font-size: 80px;
  color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
  position: absolute;
}

.column a:hover {
  width: 100%;
  transform: translateY(0px);
}

.white-overlay:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.white-overlay:hover .card-number {
  color: rgba(255, 255, 255, 1);
}