body {
  height: 190vh;
  overflow: auto;
}

/* RIGHT FRAME */

.portrait-frame {
  height: 700px;
  position: fixed;
  right: 260px;
  top: 185px;
}

.main-name {
  position: fixed;
  right: var(--outer-margin);
  bottom: var(--outer-margin);
  color: #ffffff;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 10px;
}

/* L-SIDE INTRO */

.short-intro-main {
  position: absolute;
  left: var(--outer-margin);
  top: 500px;
  color: #ffffff;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 3px;
  width: 600px;
}

.short-intro-desc {
  position: absolute;
  left: var(--outer-margin);
  top: 670px;
  color: #ffffff;
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 3px;
  width: 480px;
}

.first-circle {
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 565px;
  height: 565px;
}

.down-arrow {
  position: absolute;
  left: var(--outer-margin);
  bottom: var(--outer-margin);
  height: 45px;
  transition: all 0.3s ease;
}

.full-intro {
  position: absolute;
  left: var(--outer-margin);
  top: 1050px;
  color: #ffffff;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 32px;
  width: 480px;
}

/* CONNECT W/ ME */

.connect-text {
  position: absolute;
  bottom: var(--outer-margin);
  left: 200px;
  color: var(--grey-color);
  font-weight: 800;
  font-size: 56px;
  letter-spacing: 3px;
}

.bottom-circle-container {
  position: absolute;
  width: 865px;
  height: 400px;
  overflow: hidden;
  top: 1400px;
  left: -100px;
}

.second-circle {
  background-color: #ffffff;
  width: 865px;
  height: 865px;
}

/* SOCIAL MEDIA ICONS */

.sc-icons-container {
  position: absolute;
  bottom: var(--outer-margin);
  left: 560px;
}

.icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: var(--background-color);
  background-color: #ffffff;
  font-size: 28px;
  text-align: center;
  margin-right: 12px;
  transition: all 0.3s ease;
}

.icon:hover {
  color: var(--main-orange-color);
}