:root {
  --background-color: #212121;
  --background-accent-color: #2B2B2B;
  --light-orange-color: #FFB74D;
  --main-orange-color: #FF9800;
  --grey-color: #9E9E9E;

  --outer-margin: 100px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: "./img/portfolio-bg.png";
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

div, p, a {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

/* TOP BAR */

.top-bar {
  margin: 0 var(--outer-margin);
  padding-top: var(--outer-margin);
  justify-self: center;
}

.nav-bar {
  float: right;
}

.nav-bar li {
  display: inline;
}

.nav-bar a {
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 3.12px;
  font-size: 18px;
  padding-left: 56px;
  transition: all .3s ease;
}

.nav-bar a:hover {
  color: var(--main-orange-color);
}

.nav-bar.active a {
  color: var(--main-orange-color);
}

/* MAIN */

.name-intro-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 300px;
  text-align: center;
}

.intro-name-text {
  color: #ffffff;
  font-weight: 800;
  font-size: 64px;
  letter-spacing: 10px;
  margin-bottom: 24px;
}

.intro-desc-text {
  margin: auto;
  width: 516px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 1.83px;
  line-height: 36px;
}

.view-work-container {
  margin: auto;
  width: 260px;
  margin-top: 36px;
}

.view-work-container:hover .view-work-text{
  transform: translateX(10px) translateY(-5px);;
}

.view-work-container:hover img {
  transform: translateX(22px);
}

.view-work-container img {
  display: inline-block;
  height: 28px;
  margin-right: 24px;
  transition: all 0.3s ease;
}

.view-work-text {
  display: inline-block;
  color: var(--main-orange-color);
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1.83px;
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

/* SOCIAL MEDIA ICONS */

.sc-icons-container {
  position: absolute;
  bottom: var(--outer-margin);
  left: var(--outer-margin);
}

.icon {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #ffffff;
  background-color:var(--background-color);
  font-size: 28px;
  text-align: center;
  margin-top: 24px;
  transition: all 0.3s ease;
}

.icon:hover {
  color: var(--main-orange-color);
}

/* DEVELOPED BY */

.developed-by-container {
  position: absolute;
  bottom: var(--outer-margin);
  right: var(--outer-margin);
  color: var(--grey-color);
  font-weight: 300;
  letter-spacing: 0.8px;
  font-size: 16px;
}