.my-projects-header {
  margin: 50px var(--outer-margin);
  color: #ffffff;
  font-size: 52px;
  font-weight: 800;
  letter-spacing: 5px;
}

/* PROJECT CARD */

.projects {
  position: absolute;
  top: 400px;
  width: 100%;
  height: 800px;
}

.project-card {
  margin: 0 auto;
  width: 1200px;
  height: 480px;
  margin-bottom: 300px;
}

.card-selector {
  position: absolute;
  left: 240px;
  width: 1212px;
  height: 492px;
  z-index: 2;
}

.card-container {
  height: 450px;
}

.card-frame {
  position: absolute;
  left: 240px;
  width: 1200px;
  height: 480px;
  color: transparent;
  border: 6px solid rgba(255, 152, 0, 0.5);
  border-radius: 20px;
  transition: all 0.3s ease;
  z-index: -1;
}

/* L-SIDE CONTENT */

.card-content {
  margin-top: 40px;
  padding: 50px 75px;
  transition: all 0.3s ease;
  display: inline-block;
  vertical-align: top; 
}

.card-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 2px;
}

.card-desc {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 620px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 30px;
}

.card-number {
  transform: translate(-60px, -100px);
  font-family: Stolzl-Display, sans-serif;
  font-size: 160px;
  color: rgba(158, 158, 158, 0.5);
  z-index: -2;
  transition: all 0.3s ease;
}

.card-tags span {
  color: #ffffff;
  background-color: #424242;
  border-radius: 8px;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 15px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
}

.view-source-container {
  width: 260px;
  margin-top: 90px;
}

.view-source-container img {
  display: inline-block;
  height: 22px;
  margin-right: 36px;
  transition: all 0.3s ease;
}

.view-source-text {
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1.83px;
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.card-image {
  vertical-align: top;
  display: inline-block;
  transform: translate(40px, -75px);
  z-index: 1;
}

.card-image.two {
  transform: translate(40px, -100px);
}

.card-image img {
  width: 280px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* TRANSITIONS */

.card-container:hover {
  height: 450px;
}

.card-container:hover .card-frame{
  width: 1186px;
  height: 466px;
  transform: translate(7px, 7px);
  background-color: rgba(255, 255, 255, 0.05);
}

.card-container:hover .card-number {
  transform: translate(-53px, -93px);
}

.card-container:hover .view-source-text{
  transform: translateX(10px) translateY(-3px);
}

.card-container:hover .arrow {
  transform: translateX(32px);
}

.card-container:hover .card-image img {
  transform: translate(1.5px, 4px);
  width: 276px;
}
